.flight_table{
  border:3px solid red;
  margin:auto;
}
.button3{
 display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.3em 0.3em 0;
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family: 'Fredoka One', cursive; font-weight:300;
 color:#FFFFFF;
 background-color:#4eb5f1;
 text-align:center;
 transition: all 0.2s;
}
.button3:hover{
 background-color:#4095c6;
}
@media all and (max-width:30em){
 a.button3{
  display:block;
  margin:0.2em auto;
 }
}
		
      	html{
			    font-family: 'Fredoka One', cursive;
                color:white;
		}
	    input {
	    	margin:10px;
            width:200px;
}
button{
	margin:10px;
}
#logo_png{

	height:150px;
	margin-left: 10%;
}

	    body{
                background-color:#1d1d1d; 
        }
       
        hr{
        	width:240px;
        	margin-left:0px;
        }
       
       .younis_form{
       
       	border-left:3px solid gray;
       	padding-left: 10px;
       	margin-left:40%;
       	 display: grid;
         grid-template-columns: 1fr 3fr;
       }
       #headline_p{
       	text-align: center;
       }
       h5{
       	margin-left:10%;
       }
       #footer{

       }
       .other_options{
       border:1px solid white;
       }
       .header{
       	margin-left:60%;
       }






       .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}